#wrapper header {
    direction: rtl;
}

#popular {
    display: flex;
    justify-content: center;
}

#popular .card {
    margin: 20px 10px;
    min-width: 15%;
}

.card .card-content p i {
    font-size: 82px;
}

.card {
    text-align: center;
}

.card a {
    color: #fff;
}

.card a:visited {
    color: #fff;
}