#wrapper header {
    direction: rtl;
}

#popular {
    display: flex;
    justify-content: center;
}

#popular .card {
    margin: 20px 10px;
    min-width: 15%;
}

.card .card-content p i {
    font-size: 82px;
}

.card {
    text-align: center;
}
.waited_forms_header{
    direction:rtl;
}

.collapsible {
    direction:rtl;
}
.card a {
    color: #fff;
}

.card a:visited {
    color: #fff;
}

.hebrew-fix {
    padding-right: 20px;
}

.modal-footer-container {
    display: flex;
    justify-content: center;
}

.wait-for-aprove-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.wait-for-aprove-sub-container {
    width: 47%;
}

.wait-for-aprove-list {
    padding: 0px;
}

.wait-for-aprove-icon {
    float: right !important;
    margin-right: -5px !important;
    margin-left: 5px;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    top: 10%;
    left: 40%;
}