#wrapper header {
    direction: rtl;
}

.row .card .card-content p i {
    font-size: 82px;
}

.row .card {
    text-align: center;
}

.row .card a {
    color: #fff;
}

.row .card a:visited {
    color: #fff;
}

.hebrew-fix {
    padding-right: 20px;
}

.modal-footer-container {
    display: flex;
    justify-content: center;
}